df2bi10/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory-Name",
			"defaultValue": "df2bi10"
		},
		"IsDV_connectionString": {
			"type": "secureString",
			"metadata": "Sichere Zeichenfolge für \"connectionString\" von \"IsDV\""
		},
		"lsBI10Northwind_connectionString": {
			"type": "secureString",
			"metadata": "Sichere Zeichenfolge für \"connectionString\" von \"lsBI10Northwind\""
		},
		"lsNorthwind_connectionString": {
			"type": "secureString",
			"metadata": "Sichere Zeichenfolge für \"connectionString\" von \"lsNorthwind\""
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IsDV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('IsDV_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsBI10Northwind')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('lsBI10Northwind_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsNorthwind')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('lsNorthwind_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDVHubOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsDV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Order_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Order_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hub_Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsDV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDVHubProducts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsDV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Product_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Product_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hub_Products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsDV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDVLinkOrderDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsDV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Link_Order_Details_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Product_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Order_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Link_Order_Details"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsDV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDVSatOrderDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsDV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Link_Order_Details_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Quantity",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Sat_Order_Details"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsDV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsDVSatProducts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "IsDV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Product_SID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "varchar"
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RecordSource",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Sat_Products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/IsDV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsNorthwindOrderDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsNorthwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OrderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Quantity",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Discount",
						"type": "real",
						"precision": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Order Details"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsNorthwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsNorthwindOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsNorthwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OrderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerID",
						"type": "nchar"
					},
					{
						"name": "EmployeeID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OrderDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RequiredDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ShippedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ShipVia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Freight",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ShipName",
						"type": "nvarchar"
					},
					{
						"name": "ShipAddress",
						"type": "nvarchar"
					},
					{
						"name": "ShipCity",
						"type": "nvarchar"
					},
					{
						"name": "ShipRegion",
						"type": "nvarchar"
					},
					{
						"name": "ShipPostalCode",
						"type": "nvarchar"
					},
					{
						"name": "ShipCountry",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsNorthwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsNorthwindProducts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsNorthwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "SupplierID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "QuantityPerUnit",
						"type": "nvarchar"
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "UnitsInStock",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "UnitsOnOrder",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ReorderLevel",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Discontinued",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsNorthwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfFillHubs')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsNorthwindProducts",
								"type": "DatasetReference"
							},
							"name": "NorthwindProducts"
						},
						{
							"dataset": {
								"referenceName": "dsNorthwindOrders",
								"type": "DatasetReference"
							},
							"name": "NorthwindOrders"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dsDVHubProducts",
								"type": "DatasetReference"
							},
							"name": "DVHubProducts"
						},
						{
							"dataset": {
								"referenceName": "dsDVHubOrders",
								"type": "DatasetReference"
							},
							"name": "DVHubOrders"
						}
					],
					"transformations": [
						{
							"name": "Products"
						},
						{
							"name": "Orders"
						}
					],
					"script": "parameters{\n\tLoadDate as timestamp (currentUTC(\"Berlin\"))\n}\nsource(output(\n\t\tProductID as integer,\n\t\tProductName as string,\n\t\tSupplierID as integer,\n\t\tCategoryID as integer,\n\t\tQuantityPerUnit as string,\n\t\tUnitPrice as decimal(19,4),\n\t\tUnitsInStock as integer,\n\t\tUnitsOnOrder as integer,\n\t\tReorderLevel as integer,\n\t\tDiscontinued as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NorthwindProducts\nsource(output(\n\t\tOrderID as integer,\n\t\tCustomerID as string,\n\t\tEmployeeID as integer,\n\t\tOrderDate as timestamp,\n\t\tRequiredDate as timestamp,\n\t\tShippedDate as timestamp,\n\t\tShipVia as integer,\n\t\tFreight as decimal(19,4),\n\t\tShipName as string,\n\t\tShipAddress as string,\n\t\tShipCity as string,\n\t\tShipRegion as string,\n\t\tShipPostalCode as string,\n\t\tShipCountry as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NorthwindOrders\nNorthwindProducts derive(LoadDate = $LoadDate,\n\t\tRecordSource = \"Northwind\") ~> Products\nNorthwindOrders derive(LoadDate = $LoadDate,\n\t\tRecordSource = \"Northwind\") ~> Orders\nProducts sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tProduct_SID as integer,\n\t\tProduct_ID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tProduct_ID = ProductID,\n\t\tLoadDate,\n\t\tRecordSource\n\t)) ~> DVHubProducts\nOrders sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tOrder_SID as integer,\n\t\tOrder_ID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tOrder_ID = OrderID,\n\t\tLoadDate,\n\t\tRecordSource\n\t)) ~> DVHubOrders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsNorthwindProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsNorthwindOrders')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubOrders')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfFillLinks')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsNorthwindOrderDetails",
								"type": "DatasetReference"
							},
							"name": "NorthwindOderDetails"
						},
						{
							"dataset": {
								"referenceName": "dsDVHubOrders",
								"type": "DatasetReference"
							},
							"name": "DVHubOrders"
						},
						{
							"dataset": {
								"referenceName": "dsDVHubProducts",
								"type": "DatasetReference"
							},
							"name": "DVHubProducts"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dsDVLinkOrderDetails",
								"type": "DatasetReference"
							},
							"name": "DVLinkOrderDetails"
						}
					],
					"transformations": [
						{
							"name": "JoinHubOrdersDetails"
						},
						{
							"name": "JoinHubProducts"
						},
						{
							"name": "SelectSID"
						},
						{
							"name": "AbgeleiteteSpalte1"
						}
					],
					"script": "parameters{\n\tLoadDate as timestamp (currentUTC(\"Berlin\"))\n}\nsource(output(\n\t\tOrderID as integer,\n\t\tProductID as integer,\n\t\tUnitPrice as decimal(19,4),\n\t\tQuantity as integer,\n\t\tDiscount as float\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NorthwindOderDetails\nsource(output(\n\t\tOrder_SID as integer,\n\t\tOrder_ID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DVHubOrders\nsource(output(\n\t\tProduct_SID as integer,\n\t\tProduct_ID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DVHubProducts\nNorthwindOderDetails, DVHubOrders join(OrderID == Order_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinHubOrdersDetails\nJoinHubOrdersDetails, DVHubProducts join(ProductID == Product_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinHubProducts\nJoinHubProducts select(mapColumn(\n\t\tOrder_SID,\n\t\tProduct_SID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectSID\nSelectSID derive(LoadDate = $LoadDate,\n\t\tRecordSource = 'Northwind') ~> AbgeleiteteSpalte1\nAbgeleiteteSpalte1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tLink_Order_Details_SID as integer,\n\t\tProduct_SID as integer,\n\t\tOrder_SID as integer,\n\t\tRecordSource as string,\n\t\tLoadDate as timestamp\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tProduct_SID,\n\t\tOrder_SID,\n\t\tRecordSource,\n\t\tLoadDate\n\t)) ~> DVLinkOrderDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsNorthwindOrderDetails')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubOrders')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsDVLinkOrderDetails')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfFillSatellites')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "dsNorthwindProducts",
								"type": "DatasetReference"
							},
							"name": "NorthwindProducts"
						},
						{
							"dataset": {
								"referenceName": "dsDVHubProducts",
								"type": "DatasetReference"
							},
							"name": "DVHubProducts"
						},
						{
							"dataset": {
								"referenceName": "dsNorthwindOrderDetails",
								"type": "DatasetReference"
							},
							"name": "NorthwindOrderDetails"
						},
						{
							"dataset": {
								"referenceName": "dsDVHubOrders",
								"type": "DatasetReference"
							},
							"name": "DVHubOrders"
						},
						{
							"dataset": {
								"referenceName": "dsDVLinkOrderDetails",
								"type": "DatasetReference"
							},
							"name": "DVLinkOrderDetails"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dsDVSatProducts",
								"type": "DatasetReference"
							},
							"name": "DVSatProducts"
						},
						{
							"dataset": {
								"referenceName": "dsDVSatOrderDetails",
								"type": "DatasetReference"
							},
							"name": "DVSatOrderDetails"
						}
					],
					"transformations": [
						{
							"name": "JoinProducts"
						},
						{
							"name": "SelectSatProducts"
						},
						{
							"name": "AbgeleiteteSpalte1"
						},
						{
							"name": "JoinOrders"
						},
						{
							"name": "JoinProducts1"
						},
						{
							"name": "JoinLinkOrderDetails"
						},
						{
							"name": "SeectOrderDetails"
						},
						{
							"name": "AbgeleiteteSpalte2"
						}
					],
					"script": "parameters{\n\tLoadDate as timestamp (currentUTC(\"Berlin\"))\n}\nsource(output(\n\t\tProductID as integer,\n\t\tProductName as string,\n\t\tSupplierID as integer,\n\t\tCategoryID as integer,\n\t\tQuantityPerUnit as string,\n\t\tUnitPrice as decimal(19,4),\n\t\tUnitsInStock as integer,\n\t\tUnitsOnOrder as integer,\n\t\tReorderLevel as integer,\n\t\tDiscontinued as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NorthwindProducts\nsource(output(\n\t\tProduct_SID as integer,\n\t\tProduct_ID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DVHubProducts\nsource(output(\n\t\tOrderID as integer,\n\t\tProductID as integer,\n\t\tUnitPrice as decimal(19,4),\n\t\tQuantity as integer,\n\t\tDiscount as float\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> NorthwindOrderDetails\nsource(output(\n\t\tOrder_SID as integer,\n\t\tOrder_ID as integer,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DVHubOrders\nsource(output(\n\t\tLink_Order_Details_SID as integer,\n\t\tProduct_SID as integer,\n\t\tOrder_SID as integer,\n\t\tRecordSource as string,\n\t\tLoadDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DVLinkOrderDetails\nNorthwindProducts, DVHubProducts join(ProductID == Product_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinProducts\nJoinProducts select(mapColumn(\n\t\tProductName,\n\t\tProduct_SID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectSatProducts\nSelectSatProducts derive(LoadDate = $LoadDate,\n\t\tRecordSource = 'Northwind') ~> AbgeleiteteSpalte1\nNorthwindOrderDetails, DVHubOrders join(OrderID == Order_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinOrders\nJoinOrders, DVHubProducts join(ProductID == Product_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinProducts1\nJoinProducts1, DVLinkOrderDetails join(DVHubOrders@Order_SID == DVLinkOrderDetails@Order_SID\n\t&& DVHubProducts@Product_SID == DVLinkOrderDetails@Product_SID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> JoinLinkOrderDetails\nJoinLinkOrderDetails select(mapColumn(\n\t\tUnitPrice,\n\t\tQuantity,\n\t\tLink_Order_Details_SID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SeectOrderDetails\nSeectOrderDetails derive(LoadDate = $LoadDate,\n\t\tRecordSource = 'Northwind') ~> AbgeleiteteSpalte2\nAbgeleiteteSpalte1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tProduct_SID as integer,\n\t\tProductName as string,\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tProduct_SID,\n\t\tProductName,\n\t\tLoadDate,\n\t\tRecordSource\n\t)) ~> DVSatProducts\nAbgeleiteteSpalte2 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tLink_Order_Details_SID as integer,\n\t\tQuantity as integer,\n\t\tUnitPrice as decimal(19,4),\n\t\tLoadDate as timestamp,\n\t\tRecordSource as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tLink_Order_Details_SID,\n\t\tQuantity,\n\t\tUnitPrice,\n\t\tLoadDate,\n\t\tRecordSource\n\t)) ~> DVSatOrderDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsNorthwindProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsNorthwindOrderDetails')]",
				"[concat(variables('factoryId'), '/datasets/dsDVHubOrders')]",
				"[concat(variables('factoryId'), '/datasets/dsDVLinkOrderDetails')]",
				"[concat(variables('factoryId'), '/datasets/dsDVSatProducts')]",
				"[concat(variables('factoryId'), '/datasets/dsDVSatOrderDetails')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pNorthwindDV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dfFillHubs",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfFillHubs",
								"type": "DataFlowReference",
								"parameters": {
									"LoadDate": "currentUTC(\"Berlin\")"
								},
								"datasetParameters": {
									"NorthwindProducts": {},
									"NorthwindOrders": {},
									"DVHubProducts": {},
									"DVHubOrders": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dfFillLinks",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dfFillHubs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfFillLinks",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"NorthwindOderDetails": {},
									"DVHubOrders": {},
									"DVHubProducts": {},
									"DVLinkOrderDetails": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "dfFillSatellites",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "dfFillLinks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfFillSatellites",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"NorthwindProducts": {},
									"DVHubProducts": {},
									"NorthwindOrderDetails": {},
									"DVHubOrders": {},
									"DVLinkOrderDetails": {},
									"DVSatProducts": {},
									"DVSatOrderDetails": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dfFillHubs')]",
				"[concat(variables('factoryId'), '/dataflows/dfFillLinks')]",
				"[concat(variables('factoryId'), '/dataflows/dfFillSatellites')]"
			]
		}
	]
}